body {
  font-family: "Georgia", "Times New Roman", serif;
  line-height: 1.5;
}

code, pre {
  font-family: "Fira Code", "Menlo", monospace;
  background: #f7f7f7;
}

figure {
  margin: 1em auto;
  text-align: center;
}
